In [1]:
import pandas as pd
import numpy as np

In [4]:
data=pd.read_excel("/content/Main Data Set.xlsx")

In [5]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,gender,label
0,-371.82810,108.49565,11.329577,22.444440,22.374722,5.689639,-5.820382,-1.952239,-16.463146,6.061418,...,-2.383272,-1.047149,-5.113010,-3.650117,-3.092591,-1.955777,-4.405060,-4.580990,male,adult
1,-399.31082,112.92151,6.919172,21.663918,18.155872,7.181758,-1.518631,0.581832,-18.784006,3.909678,...,-1.837900,-0.798910,-4.694558,-4.464447,-1.893085,-2.912510,-4.858458,-4.174491,male,adult
2,-367.67980,100.84446,0.920031,23.759985,9.670633,1.539028,-6.678311,-0.632159,-19.383781,8.799910,...,-2.202147,-0.537667,-3.844402,-2.821896,-2.086511,-2.610275,-4.089844,-5.701215,male,adult
3,-355.13303,101.86148,0.237188,32.159462,22.914465,3.906355,-5.871533,-1.297926,-20.633438,7.027359,...,-1.725350,-0.643298,-3.470233,-2.856177,-2.057140,-1.870503,-4.755356,-4.600479,male,adult
4,-425.16406,129.03656,0.186828,16.686668,23.938263,10.088806,-2.028934,-2.977077,-19.282000,3.621475,...,-3.425826,0.476763,-4.416140,-2.720565,-2.072952,-1.341345,-5.566973,-4.696309,male,adult

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 41 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3000 non-null   float64
 1   1       3000 non-null   float64
 2   2       3000 non-null   float64
 3   3       3000 non-null   float64
 4   4       3000 non-null   float64
 5   5       3000 non-null   float64
 6   6       3000 non-null   float64
 7   7       3000 non-null   float64
 8   8       3000 non-null   float64
 9   9       3000 non-null   float64
 10  10      3000 non-null   float64
 11  11      3000 non-null   float64
 12  12      3000 non-null   float64
 13  13      3000 non-null   float64
 14  14      3000 non-null   float64
 15  15      3000 non-null   float64
 16  16      3000 non-null   float64
 17  17      3000 non-null   float64
 18  18      3000 non-null   float64
 19  19      3000 non-null   float64
 20  20      3000 non-null   float64
 21  21      3000 non-null   float64
 22  22      3000 non-null   float64
 23  23      3000 non-null   float64
 24  24      3000 non-null   float64
 25  25      3000 non-null   float64
 26  26      3000 non-null   float64
 27  27      3000 non-null   float64
 28  28      3000 non-null   float64
 29  29      3000 non-null   float64
 30  30      3000 non-null   float64
 31  31      3000 non-null   float64
 32  32      3000 non-null   float64
 33  33      3000 non-null   float64
 34  34      3000 non-null   float64
 35  35      3000 non-null   float64
 36  36      3000 non-null   float64
 37  37      3000 non-null   float64
 38  38      3000 non-null   float64
 39  gender  3000 non-null   object
 40  label   3000 non-null   object
dtypes: float64(39), object(2)
memory usage: 961.1+ KB

In [7]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,...,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,-351.208003,105.913972,-16.546608,17.501775,-15.247681,-12.003056,-14.810662,-11.865690,-9.868996,-6.741517,...,0.645109,1.155244,-0.131948,-0.179642,-1.258846,-1.191404,-1.439183,-1.016939,-1.930465,-1.661169
std,57.621907,25.468298,17.319401,17.464355,14.967697,12.971516,9.609671,9.396848,7.936657,10.043960,...,4.372772,3.949795,3.269629,2.897735,2.635198,2.448405,2.195555,2.138126,2.037955,1.894494
min,-759.433700,11.185444,-75.313980,-33.681860,-77.706040,-53.662533,-47.245525,-37.446507,-40.699306,-39.721750,...,-10.443918,-12.199073,-9.490027,-8.685349,-10.442770,-9.473726,-8.764090,-8.220263,-9.899373,-7.843006
25%,-374.034145,88.309570,-28.183598,4.717939,-25.611079,-22.043551,-20.780546,-19.673441,-14.226153,-13.653311,...,-2.365710,-1.704821,-2.436136,-2.047926,-3.249015,-2.885803,-2.914663,-2.500418,-3.237735,-2.994334
50%,-340.724850,108.112818,-18.922114,18.498054,-17.032691,-11.045327,-13.895435,-11.759447,-9.079390,-4.757758,...,-0.203680,0.933691,-0.397311,-0.210139,-1.244006,-1.220926,-1.388318,-1.055403,-1.803217,-1.697399
75%,-315.649440,125.725471,-3.806884,31.040314,-5.705769,-1.116565,-7.842056,-4.345181,-4.483828,0.693020,...,2.781275,3.269324,1.607188,1.725509,0.684160,0.534902,0.055046,0.508181,-0.634707,-0.353564
max,-181.037300,177.196180,34.388250,64.866720,33.956810,44.131058,12.860457,15.825261,17.090600,19.116514,...,17.817854,16.014757,13.510670,10.979915,8.800737,8.526185,7.149832,6.709516,6.233970,8.181327

In [8]:
x=data.iloc[:,:-2]
x

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,-371.82810,108.495650,11.329577,22.444440,22.374722,5.689639,-5.820382,-1.952239,-16.463146,6.061418,...,-0.184623,-2.057550,-2.383272,-1.047149,-5.113010,-3.650117,-3.092591,-1.955777,-4.405060,-4.580990
1,-399.31082,112.921510,6.919172,21.663918,18.155872,7.181758,-1.518631,0.581832,-18.784006,3.909678,...,-0.946463,-0.529916,-1.837900,-0.798910,-4.694558,-4.464447,-1.893085,-2.912510,-4.858458,-4.174491
2,-367.67980,100.844460,0.920031,23.759985,9.670633,1.539028,-6.678311,-0.632159,-19.383781,8.799910,...,1.907667,-1.688837,-2.202147,-0.537667,-3.844402,-2.821896,-2.086511,-2.610275,-4.089844,-5.701215
3,-355.13303,101.861480,0.237188,32.159462,22.914465,3.906355,-5.871533,-1.297926,-20.633438,7.027359,...,1.061948,-3.341648,-1.725350,-0.643298,-3.470233,-2.856177,-2.057140,-1.870503,-4.755356,-4.600479
4,-425.16406,129.036560,0.186828,16.686668,23.938263,10.088806,-2.028934,-2.977077,-19.282000,3.621475,...,0.215418,0.484430,-3.425826,0.476763,-4.416140,-2.720565,-2.072952,-1.341345,-5.566973,-4.696309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,-330.74442,119.453470,-28.931398,16.431282,-25.923940,-22.580963,-18.477665,-22.479776,0.922552,-7.602468,...,-2.470063,4.421223,0.742409,-3.576027,-1.591279,-3.515108,-3.029455,-3.592587,-2.900054,0.754864
2996,-313.88834,99.268030,-26.273092,4.311078,-19.713417,-18.493284,-15.861244,-10.180239,-4.867939,-0.662536,...,-2.227642,0.605481,1.392444,-0.948494,-3.438912,0.659637,-0.903038,-1.892453,-2.112316,-1.224023
2997,-324.29977,129.237520,-33.933000,11.158257,-17.881138,-26.475191,-13.977830,-16.337875,-0.353709,-4.651527,...,-0.028793,3.763042,1.154832,-4.393998,-5.090885,-2.760841,-1.561349,-3.028061,-4.226657,3.758476
2998,-352.44968,148.348430,-32.924522,6.316973,-8.765810,-28.446260,-14.844326,-19.795837,-4.025840,-4.273027,...,-3.241732,-0.987353,0.961699,-3.170674,-4.107362,-6.001142,-4.654924,-3.437292,-3.550606,-0.757205
2999,-354.54044,97.072136,-24.854030,9.664994,-23.980673,-14.894958,-15.025388,-19.491266,-0.536067,-6.233265,...,-2.224442,2.073195,3.516302,-1.918456,-0.355499,-1.424978,-2.336957,-1.454762,-6.149889,0.243947

In [9]:
y=data.iloc[:,-1]
y

0       adult
1       adult
2       adult
3       adult
4       adult
        ...
2995    child
2996    child
2997    child
2998    child
2999    child
Name: label, Length: 3000, dtype: object

In [10]:
y.value_counts()

adult    1500
child    1500
Name: label, dtype: int64

In [11]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(x)
x_scaled=scaler.transform(x)
x_scaled=pd.DataFrame(x_scaled)
x_scaled

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,0.670138,0.586168,0.789807,0.569529,0.896276,0.606913,0.689202,0.666287,0.419384,0.778119,...,0.363010,0.359452,0.308980,0.388411,0.276964,0.323535,0.356386,0.419597,0.340556,0.203566
1,0.622623,0.612828,0.749603,0.561609,0.858494,0.622171,0.760771,0.713855,0.379224,0.741549,...,0.336053,0.413597,0.332691,0.401034,0.298709,0.278295,0.431761,0.355515,0.312453,0.228934
2,0.677310,0.540080,0.694918,0.582878,0.782504,0.564470,0.674928,0.691067,0.368845,0.824662,...,0.437042,0.372521,0.316855,0.414318,0.342888,0.369548,0.419606,0.375758,0.360095,0.133659
3,0.699003,0.546206,0.688693,0.668110,0.901110,0.588678,0.688351,0.678569,0.347221,0.794536,...,0.407118,0.313939,0.337584,0.408947,0.362332,0.367643,0.421452,0.425308,0.318844,0.202350
4,0.577925,0.709901,0.688234,0.511104,0.910279,0.651897,0.752281,0.647049,0.370606,0.736650,...,0.377164,0.449549,0.263653,0.465903,0.313177,0.375177,0.420458,0.460751,0.268537,0.196370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.741169,0.652175,0.422804,0.508512,0.463736,0.317828,0.478619,0.280951,0.720227,0.545891,...,0.282143,0.589083,0.444875,0.259815,0.459973,0.331036,0.360353,0.309963,0.433842,0.536551
2996,0.770311,0.530584,0.447036,0.385525,0.519355,0.359627,0.522149,0.511833,0.620028,0.663840,...,0.290720,0.453840,0.473137,0.393427,0.363960,0.562967,0.493973,0.423838,0.482669,0.413058
2997,0.752311,0.711111,0.377212,0.455005,0.535764,0.278007,0.553484,0.396244,0.698143,0.596044,...,0.368523,0.565755,0.462806,0.218220,0.278114,0.372940,0.452606,0.347775,0.351614,0.723992
2998,0.703642,0.826230,0.386405,0.405879,0.617396,0.257852,0.539068,0.331333,0.634600,0.602477,...,0.254838,0.397384,0.454409,0.280427,0.329223,0.192922,0.258212,0.320364,0.393518,0.442190
2999,0.700027,0.517356,0.459972,0.439853,0.481139,0.396422,0.536055,0.337050,0.694987,0.569162,...,0.290834,0.505861,0.565475,0.344104,0.524191,0.447155,0.403869,0.453155,0.232406,0.504667

In [13]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

In [ ]:
np.random.seed(42)
random.seed(42)
tf.random.set_seed(42)

x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.2, random_state=42)
x_train = np.array(x_train).reshape(-1, 39, 1)
x_test = np.array(x_test).reshape(-1, 39, 1)

In [ ]:
'''import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout, Bidirectional
from tensorflow.keras.callbacks import EarlyStopping

data = pd.read_excel("/content/Main Data Set.xlsx")
x = data.iloc[:, :-2]
y = data.iloc[:, -1]

label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

scaler = MinMaxScaler()
x_scaled = scaler.fit_transform(x)
x_scaled = pd.DataFrame(x_scaled)

np.random.seed(42)
random.seed(42)
tf.random.set_seed(42)

x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.2, random_state=42)
x_train = np.array(x_train).reshape(-1, 39, 1)
x_test = np.array(x_test).reshape(-1, 39, 1)

model = Sequential()
model.add(Bidirectional(LSTM(32, return_sequences=True), input_shape=(39, 1)))
model.add(Dropout(0.7))
model.add(LSTM(32))
model.add(Dropout(0.7))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.7))
model.add(Dense(1, activation='sigmoid'))

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

early_stopping = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True)

model.fit(x_train, y_train, epochs=20, batch_size=32, validation_data=(x_test, y_test), callbacks=[early_stopping])

loss, accuracy = model.evaluate(x_test, y_test)
print('Test Loss:', loss)
print('Test Accuracy:', accuracy)

input_sample = [0.577925, 0.709901, 0.688234, 0.511104, 0.910279, 0.651897, 0.752281, 0.647049, 0.370606, 0.736650, 0.669853, 0.556179, 0.420008, 0.752727, 0.759170, 0.593053, 0.562426, 0.736432, 0.504392, 0.622027, 0.364966, 0.531934, 0.221066, 0.302269, 0.287320, 0.205320, 0.268884, 0.262020, 0.213975, 0.377164, 0.449549, 0.263653, 0.465903, 0.313177, 0.375177, 0.420458, 0.460751, 0.268537, 0.196370]
input_sample = np.array(input_sample).reshape(1, 39, 1)
predictions = model.predict(input_sample)

threshold = 0.5
binary_prediction = (predictions > threshold).astype(int)
print(binary_prediction)'''

In [47]:
from tensorflow.keras.layers import LSTM, Dense, Dropout
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import BatchNormalization
from tensorflow.keras import regularizers

# Data preprocessing
# Assuming you have already preprocessed your data and split it into X_train and y_train

# Model architecture
model = Sequential()
model.add(LSTM(256, return_sequences=False))
model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid', kernel_regularizer=regularizers.l2(0.001)))

# Model compilation
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Training the model
history = model.fit(x_train, y_train, epochs=17, batch_size=32, validation_split=0.2)

# Evaluate the model on test data
loss, accuracy = model.evaluate(x_test, y_test)
print("Test Loss:", loss)
print("Test Accuracy:", accuracy)

Epoch 1/17
60/60 [==============================] - 8s 103ms/step - loss: 0.2198 - accuracy: 0.9177 - val_loss: 0.6390 - val_accuracy: 0.5312
Epoch 2/17
60/60 [==============================] - 5s 88ms/step - loss: 0.1680 - accuracy: 0.9380 - val_loss: 0.5717 - val_accuracy: 0.7042
Epoch 3/17
60/60 [==============================] - 6s 96ms/step - loss: 0.1797 - accuracy: 0.9323 - val_loss: 0.6439 - val_accuracy: 0.4812
Epoch 4/17
60/60 [==============================] - 5s 87ms/step - loss: 0.1670 - accuracy: 0.9396 - val_loss: 0.4972 - val_accuracy: 0.8708
Epoch 5/17
60/60 [==============================] - 6s 96ms/step - loss: 0.1953 - accuracy: 0.9281 - val_loss: 0.4837 - val_accuracy: 0.7479
Epoch 6/17
60/60 [==============================] - 5s 88ms/step - loss: 0.1657 - accuracy: 0.9406 - val_loss: 0.7098 - val_accuracy: 0.5042
Epoch 7/17
60/60 [==============================] - 6s 95ms/step - loss: 0.1790 - accuracy: 0.9333 - val_loss: 0.6328 - val_accuracy: 0.5604
Epoch 8/17
60/60 [==============================] - 5s 88ms/step - loss: 0.1526 - accuracy: 0.9464 - val_loss: 0.6074 - val_accuracy: 0.6313
Epoch 9/17
60/60 [==============================] - 5s 89ms/step - loss: 0.1656 - accuracy: 0.9422 - val_loss: 0.2104 - val_accuracy: 0.9354
Epoch 10/17
60/60 [==============================] - 6s 94ms/step - loss: 0.1544 - accuracy: 0.9443 - val_loss: 0.2089 - val_accuracy: 0.9417
Epoch 11/17
60/60 [==============================] - 5s 88ms/step - loss: 0.1557 - accuracy: 0.9417 - val_loss: 0.1924 - val_accuracy: 0.9458
Epoch 12/17
60/60 [==============================] - 6s 97ms/step - loss: 0.1533 - accuracy: 0.9432 - val_loss: 1.7681 - val_accuracy: 0.5562
Epoch 13/17
60/60 [==============================] - 5s 88ms/step - loss: 0.1593 - accuracy: 0.9495 - val_loss: 0.1491 - val_accuracy: 0.9479
Epoch 14/17
60/60 [==============================] - 6s 97ms/step - loss: 0.1628 - accuracy: 0.9406 - val_loss: 0.2978 - val_accuracy: 0.8708
Epoch 15/17
60/60 [==============================] - 5s 89ms/step - loss: 0.1306 - accuracy: 0.9536 - val_loss: 1.9859 - val_accuracy: 0.5792
Epoch 16/17
60/60 [==============================] - 6s 97ms/step - loss: 0.1110 - accuracy: 0.9609 - val_loss: 0.4433 - val_accuracy: 0.8292
Epoch 17/17
60/60 [==============================] - 5s 88ms/step - loss: 0.0787 - accuracy: 0.9745 - val_loss: 0.2713 - val_accuracy: 0.9000
19/19 [==============================] - 1s 21ms/step - loss: 0.1792 - accuracy: 0.9333
Test Loss: 0.1792011857032776
Test Accuracy: 0.9333333373069763

In [49]:
#4
input_sample=[0.577925,0.709901,0.688234,0.511104,0.910279,0.651897,0.752281,0.647049,0.370606,0.736650,0.669853,0.556179,0.420008,0.752727,0.759170,0.593053,0.562426,0.736432,0.504392,0.622027,0.364966,0.531934,0.221066,0.302269,0.287320,0.205320,0.268884,0.262020,0.213975,0.377164,0.449549,0.263653,0.465903,0.313177,0.375177,0.420458,0.460751,0.268537,0.196370]
len(input_sample)
input_sample = np.array(input_sample).reshape(1, 39, 1)
predictions = model.predict(input_sample)
predictions

threshold = 0.5
binary_prediction = (predictions > threshold).astype(int)
print(binary_prediction)

1/1 [==============================] - 0s 314ms/step
[[0]]

In [50]:
#2599
input_sample=[0.712120,0.650542,0.366992,0.436288,0.428585,0.373965,0.687088,0.642749,0.686330,0.626207,0.468095,0.339787,0.584682,0.369466,0.463744,0.711811,0.482888,0.664246,0.481662,0.631933,0.521777,0.736818,0.678289,0.635984,0.828648,0.420239,0.479775,0.294975,0.133693,0.142501,0.396931,0.392093,0.430237,0.329627,0.330772,0.370938,0.354412,0.434149,0.383211]
input_sample = np.array(input_sample).reshape(1, 39, 1)
predictions = model.predict(input_sample)
predictions
threshold = 0.5
binary_prediction = (predictions > threshold).astype(int)
print(binary_prediction)

1/1 [==============================] - 0s 26ms/step
[[1]]

In [51]:
#1700
input_sample=[0.703199,0.802535,0.269742,0.374358,0.662270,0.256021,0.628288,0.484283,0.609980,0.726404,0.536188,0.405838,0.603440,0.608939,0.568098,0.460169,0.539377,0.594227,0.237530,0.294224,0.365145,0.339269,0.231255,0.411205,0.390116,0.395038,0.689311,0.513649,0.670216,0.661571,0.577641,0.295602,0.215556,0.354745,0.395653,0.576891,0.483373,0.468035,0.434348]
len(input_sample)
input_sample = np.array(input_sample).reshape(1, 39, 1)
predictions = model.predict(input_sample)
predictions
threshold = 0.5
binary_prediction = (predictions > threshold).astype(int)
print(binary_prediction)

1/1 [==============================] - 0s 19ms/step
[[1]]

In [52]:
#150
input_sample=[0.831655, 0.411186, 0.559244, 0.685691, 0.709506, 0.612764, 0.499598, 0.514133, 0.483049, 0.899541, 0.629023, 0.380120, 0.777131, 0.524901, 0.832078, 0.711080, 0.502103, 0.650106, 0.517994, 0.635600, 0.336551, 0.470930, 0.220700, 0.209610, 0.304909, 0.207724, 0.311406, 0.182513, 0.247909, 0.227411, 0.354821, 0.320541, 0.315677, 0.434150, 0.538850, 0.602915, 0.598054, 0.648223, 0.508443]
len(input_sample)
input_sample = np.array(input_sample).reshape(1, 39, 1)
predictions = model.predict(input_sample)
predictions
threshold = 0.5
binary_prediction = (predictions > threshold).astype(int)
print(binary_prediction)

1/1 [==============================] - 0s 20ms/step
[[0]]

In [53]:
#1500
input_sample=[0.872731, 0.411082, 0.480586, 1.000000, 0.253384, 0.528318, 0.296872, 0.394610, 0.502378,0.392042, 0.621543, 0.006626, 0.516975, 0.521456, 0.669484, 0.201321, 0.501754, 0.354544,0.311420, 0.320913, 0.236528, 0.187705, 0.124682, 0.319398, 0.362812, 0.542776, 0.778250,0.758794, 0.785707, 0.417236, 0.271772, 0.303650, 0.376029, 0.512281, 0.550409, 0.218163,0.291156, 0.418453, 0.608678]
len(input_sample)
input_sample = np.array(input_sample).reshape(1, 39, 1)
predictions = model.predict(input_sample)
predictions
threshold = 0.5
binary_prediction = (predictions > threshold).astype(int)
print(binary_prediction)

1/1 [==============================] - 0s 17ms/step
[[1]]

In [54]:
#1499
input_sample=[0.697741, 0.525116, 0.545003, 0.692816, 0.457930, 0.359801, 0.461989, 0.315771, 0.490485, 0.428895, 0.669433, 0.294186, 0.603710, 0.517595, 0.442430, 0.583103, 0.683023, 0.505508, 0.506476, 0.355762, 0.302428, 0.292831, 0.054839, 0.251980, 0.439162, 0.346069, 0.717094, 0.573125, 0.496748, 0.452190, 0.556708, 0.442439, 0.613101, 0.533443, 0.404268, 0.594605, 0.536038, 0.537847, 0.326311]
len(input_sample)
input_sample = np.array(input_sample).reshape(1, 39, 1)
predictions = model.predict(input_sample)
predictions
threshold = 0.5
binary_prediction = (predictions > threshold).astype(int)
print(binary_prediction)

1/1 [==============================] - 0s 20ms/step
[[0]]

In [56]:
model.save('LSTM_Age_Estimation.h5')