In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_excel("/content/Main Data Set.xlsx")

In [3]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,gender,label
0,-371.82810,108.49565,11.329577,22.444440,22.374722,5.689639,-5.820382,-1.952239,-16.463146,6.061418,...,-2.383272,-1.047149,-5.113010,-3.650117,-3.092591,-1.955777,-4.405060,-4.580990,male,adult
1,-399.31082,112.92151,6.919172,21.663918,18.155872,7.181758,-1.518631,0.581832,-18.784006,3.909678,...,-1.837900,-0.798910,-4.694558,-4.464447,-1.893085,-2.912510,-4.858458,-4.174491,male,adult
2,-367.67980,100.84446,0.920031,23.759985,9.670633,1.539028,-6.678311,-0.632159,-19.383781,8.799910,...,-2.202147,-0.537667,-3.844402,-2.821896,-2.086511,-2.610275,-4.089844,-5.701215,male,adult
3,-355.13303,101.86148,0.237188,32.159462,22.914465,3.906355,-5.871533,-1.297926,-20.633438,7.027359,...,-1.725350,-0.643298,-3.470233,-2.856177,-2.057140,-1.870503,-4.755356,-4.600479,male,adult
4,-425.16406,129.03656,0.186828,16.686668,23.938263,10.088806,-2.028934,-2.977077,-19.282000,3.621475,...,-3.425826,0.476763,-4.416140,-2.720565,-2.072952,-1.341345,-5.566973,-4.696309,male,adult

In [4]:
data.isnull().sum()

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
30        0
31        0
32        0
33        0
34        0
35        0
36        0
37        0
38        0
gender    0
label     0
dtype: int64

In [5]:
x=data.iloc[:,:-2]
x

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,-371.82810,108.495650,11.329577,22.444440,22.374722,5.689639,-5.820382,-1.952239,-16.463146,6.061418,...,-0.184623,-2.057550,-2.383272,-1.047149,-5.113010,-3.650117,-3.092591,-1.955777,-4.405060,-4.580990
1,-399.31082,112.921510,6.919172,21.663918,18.155872,7.181758,-1.518631,0.581832,-18.784006,3.909678,...,-0.946463,-0.529916,-1.837900,-0.798910,-4.694558,-4.464447,-1.893085,-2.912510,-4.858458,-4.174491
2,-367.67980,100.844460,0.920031,23.759985,9.670633,1.539028,-6.678311,-0.632159,-19.383781,8.799910,...,1.907667,-1.688837,-2.202147,-0.537667,-3.844402,-2.821896,-2.086511,-2.610275,-4.089844,-5.701215
3,-355.13303,101.861480,0.237188,32.159462,22.914465,3.906355,-5.871533,-1.297926,-20.633438,7.027359,...,1.061948,-3.341648,-1.725350,-0.643298,-3.470233,-2.856177,-2.057140,-1.870503,-4.755356,-4.600479
4,-425.16406,129.036560,0.186828,16.686668,23.938263,10.088806,-2.028934,-2.977077,-19.282000,3.621475,...,0.215418,0.484430,-3.425826,0.476763,-4.416140,-2.720565,-2.072952,-1.341345,-5.566973,-4.696309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,-330.74442,119.453470,-28.931398,16.431282,-25.923940,-22.580963,-18.477665,-22.479776,0.922552,-7.602468,...,-2.470063,4.421223,0.742409,-3.576027,-1.591279,-3.515108,-3.029455,-3.592587,-2.900054,0.754864
2996,-313.88834,99.268030,-26.273092,4.311078,-19.713417,-18.493284,-15.861244,-10.180239,-4.867939,-0.662536,...,-2.227642,0.605481,1.392444,-0.948494,-3.438912,0.659637,-0.903038,-1.892453,-2.112316,-1.224023
2997,-324.29977,129.237520,-33.933000,11.158257,-17.881138,-26.475191,-13.977830,-16.337875,-0.353709,-4.651527,...,-0.028793,3.763042,1.154832,-4.393998,-5.090885,-2.760841,-1.561349,-3.028061,-4.226657,3.758476
2998,-352.44968,148.348430,-32.924522,6.316973,-8.765810,-28.446260,-14.844326,-19.795837,-4.025840,-4.273027,...,-3.241732,-0.987353,0.961699,-3.170674,-4.107362,-6.001142,-4.654924,-3.437292,-3.550606,-0.757205
2999,-354.54044,97.072136,-24.854030,9.664994,-23.980673,-14.894958,-15.025388,-19.491266,-0.536067,-6.233265,...,-2.224442,2.073195,3.516302,-1.918456,-0.355499,-1.424978,-2.336957,-1.454762,-6.149889,0.243947

In [6]:
y=data.iloc[:,-1]
y

0       adult
1       adult
2       adult
3       adult
4       adult
        ...
2995    child
2996    child
2997    child
2998    child
2999    child
Name: label, Length: 3000, dtype: object

In [7]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y=label_encoder.fit_transform(y)
y

array([0, 0, 0, ..., 1, 1, 1])

In [8]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(x)
x_scaled=scaler.transform(x)
x_scaled=pd.DataFrame(x_scaled)
x_scaled

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,0.670138,0.586168,0.789807,0.569529,0.896276,0.606913,0.689202,0.666287,0.419384,0.778119,...,0.363010,0.359452,0.308980,0.388411,0.276964,0.323535,0.356386,0.419597,0.340556,0.203566
1,0.622623,0.612828,0.749603,0.561609,0.858494,0.622171,0.760771,0.713855,0.379224,0.741549,...,0.336053,0.413597,0.332691,0.401034,0.298709,0.278295,0.431761,0.355515,0.312453,0.228934
2,0.677310,0.540080,0.694918,0.582878,0.782504,0.564470,0.674928,0.691067,0.368845,0.824662,...,0.437042,0.372521,0.316855,0.414318,0.342888,0.369548,0.419606,0.375758,0.360095,0.133659
3,0.699003,0.546206,0.688693,0.668110,0.901110,0.588678,0.688351,0.678569,0.347221,0.794536,...,0.407118,0.313939,0.337584,0.408947,0.362332,0.367643,0.421452,0.425308,0.318844,0.202350
4,0.577925,0.709901,0.688234,0.511104,0.910279,0.651897,0.752281,0.647049,0.370606,0.736650,...,0.377164,0.449549,0.263653,0.465903,0.313177,0.375177,0.420458,0.460751,0.268537,0.196370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.741169,0.652175,0.422804,0.508512,0.463736,0.317828,0.478619,0.280951,0.720227,0.545891,...,0.282143,0.589083,0.444875,0.259815,0.459973,0.331036,0.360353,0.309963,0.433842,0.536551
2996,0.770311,0.530584,0.447036,0.385525,0.519355,0.359627,0.522149,0.511833,0.620028,0.663840,...,0.290720,0.453840,0.473137,0.393427,0.363960,0.562967,0.493973,0.423838,0.482669,0.413058
2997,0.752311,0.711111,0.377212,0.455005,0.535764,0.278007,0.553484,0.396244,0.698143,0.596044,...,0.368523,0.565755,0.462806,0.218220,0.278114,0.372940,0.452606,0.347775,0.351614,0.723992
2998,0.703642,0.826230,0.386405,0.405879,0.617396,0.257852,0.539068,0.331333,0.634600,0.602477,...,0.254838,0.397384,0.454409,0.280427,0.329223,0.192922,0.258212,0.320364,0.393518,0.442190
2999,0.700027,0.517356,0.459972,0.439853,0.481139,0.396422,0.536055,0.337050,0.694987,0.569162,...,0.290834,0.505861,0.565475,0.344104,0.524191,0.447155,0.403869,0.453155,0.232406,0.504667

In [30]:
import numpy as np
import random
import tensorflow as tf

# Set random seed for reproducibility
np.random.seed(42)
random.seed(42)
tf.random.set_seed(42)

In [31]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.2, random_state=42)

In [32]:
x_train = np.array(x_train).reshape(-1, 39, 1)
x_test = np.array(x_test).reshape(-1, 39, 1)

In [33]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv1D, MaxPooling1D, Flatten, Dense

In [34]:
# Create a Conv1D model
model = Sequential()
model.add(Conv1D(32, kernel_size=3, activation='relu', input_shape=(39, 1)))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [42]:
# Compile and train the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(x_train, y_train, epochs=30, batch_size=32, validation_data=(x_test, y_test))

Epoch 1/30
75/75 [==============================] - 2s 7ms/step - loss: 0.0042 - accuracy: 0.9987 - val_loss: 0.0052 - val_accuracy: 0.9983
Epoch 2/30
75/75 [==============================] - 0s 5ms/step - loss: 0.0038 - accuracy: 0.9992 - val_loss: 0.0051 - val_accuracy: 0.9967
Epoch 3/30
75/75 [==============================] - 0s 5ms/step - loss: 0.0017 - accuracy: 1.0000 - val_loss: 0.0044 - val_accuracy: 0.9983
Epoch 4/30
75/75 [==============================] - 0s 5ms/step - loss: 0.0017 - accuracy: 0.9996 - val_loss: 0.0042 - val_accuracy: 0.9983
Epoch 5/30
75/75 [==============================] - 0s 6ms/step - loss: 0.0015 - accuracy: 1.0000 - val_loss: 0.0046 - val_accuracy: 0.9983
Epoch 6/30
75/75 [==============================] - 0s 5ms/step - loss: 0.0022 - accuracy: 0.9992 - val_loss: 0.0050 - val_accuracy: 0.9983
Epoch 7/30
75/75 [==============================] - 0s 5ms/step - loss: 0.0041 - accuracy: 0.9983 - val_loss: 0.0110 - val_accuracy: 0.9983
Epoch 8/30
75/75 [==============================] - 0s 5ms/step - loss: 0.0024 - accuracy: 0.9996 - val_loss: 0.0080 - val_accuracy: 0.9967
Epoch 9/30
75/75 [==============================] - 0s 5ms/step - loss: 0.0025 - accuracy: 0.9987 - val_loss: 0.0051 - val_accuracy: 0.9983
Epoch 10/30
75/75 [==============================] - 0s 5ms/step - loss: 0.0015 - accuracy: 0.9996 - val_loss: 0.0049 - val_accuracy: 0.9983
Epoch 11/30
75/75 [==============================] - 0s 5ms/step - loss: 8.7302e-04 - accuracy: 1.0000 - val_loss: 0.0060 - val_accuracy: 0.9967
Epoch 12/30
75/75 [==============================] - 0s 5ms/step - loss: 0.0014 - accuracy: 1.0000 - val_loss: 0.0046 - val_accuracy: 0.9983
Epoch 13/30
75/75 [==============================] - 0s 6ms/step - loss: 9.5817e-04 - accuracy: 1.0000 - val_loss: 0.0053 - val_accuracy: 0.9983
Epoch 14/30
75/75 [==============================] - 0s 5ms/step - loss: 0.0010 - accuracy: 1.0000 - val_loss: 0.0055 - val_accuracy: 0.9983
Epoch 15/30
75/75 [==============================] - 0s 5ms/step - loss: 8.4506e-04 - accuracy: 1.0000 - val_loss: 0.0049 - val_accuracy: 0.9983
Epoch 16/30
75/75 [==============================] - 0s 5ms/step - loss: 7.3131e-04 - accuracy: 1.0000 - val_loss: 0.0044 - val_accuracy: 0.9983
Epoch 17/30
75/75 [==============================] - 0s 5ms/step - loss: 8.0150e-04 - accuracy: 1.0000 - val_loss: 0.0062 - val_accuracy: 0.9983
Epoch 18/30
75/75 [==============================] - 0s 5ms/step - loss: 5.9551e-04 - accuracy: 1.0000 - val_loss: 0.0042 - val_accuracy: 0.9983
Epoch 19/30
75/75 [==============================] - 0s 5ms/step - loss: 9.4651e-04 - accuracy: 1.0000 - val_loss: 0.0058 - val_accuracy: 0.9983
Epoch 20/30
75/75 [==============================] - 0s 5ms/step - loss: 0.0012 - accuracy: 1.0000 - val_loss: 0.0054 - val_accuracy: 0.9983
Epoch 21/30
75/75 [==============================] - 0s 5ms/step - loss: 6.1265e-04 - accuracy: 1.0000 - val_loss: 0.0052 - val_accuracy: 0.9983
Epoch 22/30
75/75 [==============================] - 0s 5ms/step - loss: 4.5320e-04 - accuracy: 1.0000 - val_loss: 0.0048 - val_accuracy: 0.9983
Epoch 23/30
75/75 [==============================] - 1s 7ms/step - loss: 4.1865e-04 - accuracy: 1.0000 - val_loss: 0.0044 - val_accuracy: 0.9983
Epoch 24/30
75/75 [==============================] - 1s 7ms/step - loss: 3.7438e-04 - accuracy: 1.0000 - val_loss: 0.0064 - val_accuracy: 0.9983
Epoch 25/30
75/75 [==============================] - 1s 8ms/step - loss: 8.9733e-04 - accuracy: 1.0000 - val_loss: 0.0067 - val_accuracy: 0.9983
Epoch 26/30
75/75 [==============================] - 1s 8ms/step - loss: 6.8405e-04 - accuracy: 1.0000 - val_loss: 0.0055 - val_accuracy: 0.9983
Epoch 27/30
75/75 [==============================] - 1s 8ms/step - loss: 7.7745e-04 - accuracy: 1.0000 - val_loss: 0.0046 - val_accuracy: 0.9983
Epoch 28/30
75/75 [==============================] - 0s 5ms/step - loss: 8.9688e-04 - accuracy: 1.0000 - val_loss: 0.0056 - val_accuracy: 0.9983
Epoch 29/30
75/75 [==============================] - 0s 5ms/step - loss: 4.4722e-04 - accuracy: 1.0000 - val_loss: 0.0051 - val_accuracy: 0.9967
Epoch 30/30
75/75 [==============================] - 0s 5ms/step - loss: 0.0094 - accuracy: 0.9962 - val_loss: 0.0199 - val_accuracy: 0.9917

In [43]:
loss, accuracy = model.evaluate(x_test, y_test)
print('Test Loss:', loss)
print('Test Accuracy:', accuracy)

19/19 [==============================] - 0s 2ms/step - loss: 0.0199 - accuracy: 0.9917
Test Loss: 0.01993720605969429
Test Accuracy: 0.9916666746139526

In [44]:
x_scaled.iloc[4]

0     0.577925
1     0.709901
2     0.688234
3     0.511104
4     0.910279
5     0.651897
6     0.752281
7     0.647049
8     0.370606
9     0.736650
10    0.669853
11    0.556179
12    0.420008
13    0.752727
14    0.759170
15    0.593053
16    0.562426
17    0.736432
18    0.504392
19    0.622027
20    0.364966
21    0.531934
22    0.221066
23    0.302269
24    0.287320
25    0.205320
26    0.268884
27    0.262020
28    0.213975
29    0.377164
30    0.449549
31    0.263653
32    0.465903
33    0.313177
34    0.375177
35    0.420458
36    0.460751
37    0.268537
38    0.196370
Name: 4, dtype: float64

In [49]:
input_sample=[0.577925,0.709901,0.688234,0.511104,0.910279,0.651897,0.752281,0.647049,0.370606,0.736650,0.669853,0.556179,0.420008,0.752727,0.759170,0.593053,0.562426,0.736432,0.504392,0.622027,0.364966,0.531934,0.221066,0.302269,0.287320,0.205320,0.268884,0.262020,0.213975,0.377164,0.449549,0.263653,0.465903,0.313177,0.375177,0.420458,0.460751,0.268537,0.196370]
len(input_sample)
input_sample = np.array(input_sample).reshape(1, 39, 1)
predictions = model.predict(input_sample)
predictions

threshold = 0.5
binary_prediction = (predictions > threshold).astype(int)
print(binary_prediction)

1/1 [==============================] - 0s 28ms/step
[[0]]

In [19]:
#predictions

In [20]:
input_sample=[0.622623,0.612828,0.749603,0.561609,0.858494,0.622171,0.760771,0.713855,0.379224,0.741549,0.599961,0.612100,0.525807,0.719851,0.668784,0.625225,0.508372,0.740133,0.439672,0.567426,0.343854,0.480994,0.183284,0.358476,0.192624,0.172887,0.241540,0.149944,0.230931,0.336053,0.413597,0.332691,0.401034,0.298709,0.278295,0.431761,0.355515,0.312453,0.228934]
len(input_sample)
input_sample = np.array(input_sample).reshape(1, 39, 1)
predictions = model.predict(input_sample)
predictions

1/1 [==============================] - 0s 24ms/step

array([[0.46632928]], dtype=float32)

In [21]:
x_scaled.iloc[2599]

0     0.712120
1     0.650542
2     0.366992
3     0.436288
4     0.428585
5     0.373965
6     0.687088
7     0.642749
8     0.686330
9     0.626207
10    0.468095
11    0.339787
12    0.584682
13    0.369466
14    0.463744
15    0.711811
16    0.482888
17    0.664246
18    0.481662
19    0.631933
20    0.521777
21    0.736818
22    0.678289
23    0.635984
24    0.828648
25    0.420239
26    0.479775
27    0.294975
28    0.133693
29    0.142501
30    0.396931
31    0.392093
32    0.430237
33    0.329627
34    0.330772
35    0.370938
36    0.354412
37    0.434149
38    0.383211
Name: 2599, dtype: float64

In [51]:
input_sample=[0.712120,0.650542,0.366992,0.436288,0.428585,0.373965,0.687088,0.642749,0.686330,0.626207,0.468095,0.339787,0.584682,0.369466,0.463744,0.711811,0.482888,0.664246,0.481662,0.631933,0.521777,0.736818,0.678289,0.635984,0.828648,0.420239,0.479775,0.294975,0.133693,0.142501,0.396931,0.392093,0.430237,0.329627,0.330772,0.370938,0.354412,0.434149,0.383211]

In [52]:
input_sample = np.array(input_sample).reshape(1, 39, 1)
predictions = model.predict(input_sample)
predictions
threshold = 0.5
binary_prediction = (predictions > threshold).astype(int)
print(binary_prediction)

1/1 [==============================] - 0s 22ms/step
[[1]]

In [53]:
x_scaled.iloc[1700]

0     0.703199
1     0.802535
2     0.269742
3     0.374358
4     0.662270
5     0.256021
6     0.628288
7     0.484283
8     0.609980
9     0.726404
10    0.536188
11    0.405838
12    0.603440
13    0.608939
14    0.568098
15    0.460169
16    0.539377
17    0.594227
18    0.237530
19    0.294224
20    0.365145
21    0.339269
22    0.231255
23    0.411205
24    0.390116
25    0.395038
26    0.689311
27    0.513649
28    0.670216
29    0.661571
30    0.577641
31    0.295602
32    0.215556
33    0.354745
34    0.395653
35    0.576891
36    0.483373
37    0.468035
38    0.434348
Name: 1700, dtype: float64

In [54]:
input_sample=[0.703199,0.802535,0.269742,0.374358,0.662270,0.256021,0.628288,0.484283,0.609980,0.726404,0.536188,0.405838,0.603440,0.608939,0.568098,0.460169,0.539377,0.594227,0.237530,0.294224,0.365145,0.339269,0.231255,0.411205,0.390116,0.395038,0.689311,0.513649,0.670216,0.661571,0.577641,0.295602,0.215556,0.354745,0.395653,0.576891,0.483373,0.468035,0.434348]
len(input_sample)
input_sample = np.array(input_sample).reshape(1, 39, 1)
predictions = model.predict(input_sample)
predictions
threshold = 0.5
binary_prediction = (predictions > threshold).astype(int)
print(binary_prediction)

1/1 [==============================] - 0s 35ms/step
[[1]]

In [55]:
x_scaled.iloc[150]

0     0.831655
1     0.411186
2     0.559244
3     0.685691
4     0.709506
5     0.612764
6     0.499598
7     0.514133
8     0.483049
9     0.899541
10    0.629023
11    0.380120
12    0.777131
13    0.524901
14    0.832078
15    0.711080
16    0.502103
17    0.650106
18    0.517994
19    0.635600
20    0.336551
21    0.470930
22    0.220700
23    0.209610
24    0.304909
25    0.207724
26    0.311406
27    0.182513
28    0.247909
29    0.227411
30    0.354821
31    0.320541
32    0.315677
33    0.434150
34    0.538850
35    0.602915
36    0.598054
37    0.648223
38    0.508443
Name: 150, dtype: float64

In [56]:
input_sample=[0.831655, 0.411186, 0.559244, 0.685691, 0.709506, 0.612764, 0.499598, 0.514133, 0.483049, 0.899541, 0.629023, 0.380120, 0.777131, 0.524901, 0.832078, 0.711080, 0.502103, 0.650106, 0.517994, 0.635600, 0.336551, 0.470930, 0.220700, 0.209610, 0.304909, 0.207724, 0.311406, 0.182513, 0.247909, 0.227411, 0.354821, 0.320541, 0.315677, 0.434150, 0.538850, 0.602915, 0.598054, 0.648223, 0.508443]
len(input_sample)
input_sample = np.array(input_sample).reshape(1, 39, 1)
predictions = model.predict(input_sample)
predictions
threshold = 0.5
binary_prediction = (predictions > threshold).astype(int)
print(binary_prediction)

1/1 [==============================] - 0s 23ms/step
[[0]]

In [57]:
x_scaled.iloc[1500]

0     0.872731
1     0.411082
2     0.480586
3     1.000000
4     0.253384
5     0.528318
6     0.296872
7     0.394610
8     0.502378
9     0.392042
10    0.621543
11    0.006626
12    0.516975
13    0.521456
14    0.669484
15    0.201321
16    0.501754
17    0.354544
18    0.311420
19    0.320913
20    0.236528
21    0.187705
22    0.124682
23    0.319398
24    0.362812
25    0.542776
26    0.778250
27    0.758794
28    0.785707
29    0.417236
30    0.271772
31    0.303650
32    0.376029
33    0.512281
34    0.550409
35    0.218163
36    0.291156
37    0.418453
38    0.608678
Name: 1500, dtype: float64

In [58]:
input_sample=[0.872731, 0.411082, 0.480586, 1.000000, 0.253384, 0.528318, 0.296872, 0.394610, 0.502378,0.392042, 0.621543, 0.006626, 0.516975, 0.521456, 0.669484, 0.201321, 0.501754, 0.354544,0.311420, 0.320913, 0.236528, 0.187705, 0.124682, 0.319398, 0.362812, 0.542776, 0.778250,0.758794, 0.785707, 0.417236, 0.271772, 0.303650, 0.376029, 0.512281, 0.550409, 0.218163,0.291156, 0.418453, 0.608678]
len(input_sample)
input_sample = np.array(input_sample).reshape(1, 39, 1)
predictions = model.predict(input_sample)
predictions
threshold = 0.5
binary_prediction = (predictions > threshold).astype(int)
print(binary_prediction)

1/1 [==============================] - 0s 88ms/step
[[1]]

In [59]:
x_scaled.iloc[1499]

0     0.697741
1     0.525116
2     0.545003
3     0.692816
4     0.457930
5     0.359801
6     0.461989
7     0.315771
8     0.490485
9     0.428895
10    0.669433
11    0.294186
12    0.603710
13    0.517595
14    0.442430
15    0.583103
16    0.683023
17    0.505508
18    0.506476
19    0.355762
20    0.302428
21    0.292831
22    0.054839
23    0.251980
24    0.439162
25    0.346069
26    0.717094
27    0.573125
28    0.496748
29    0.452190
30    0.556708
31    0.442439
32    0.613101
33    0.533443
34    0.404268
35    0.594605
36    0.536038
37    0.537847
38    0.326311
Name: 1499, dtype: float64

In [61]:
y[1500]

1

In [62]:
y[1499]

0

In [65]:
input_sample=[0.697741, 0.525116, 0.545003, 0.692816, 0.457930, 0.359801, 0.461989, 0.315771, 0.490485, 0.428895, 0.669433, 0.294186, 0.603710, 0.517595, 0.442430, 0.583103, 0.683023, 0.505508, 0.506476, 0.355762, 0.302428, 0.292831, 0.054839, 0.251980, 0.439162, 0.346069, 0.717094, 0.573125, 0.496748, 0.452190, 0.556708, 0.442439, 0.613101, 0.533443, 0.404268, 0.594605, 0.536038, 0.537847, 0.326311]
len(input_sample)
input_sample = np.array(input_sample).reshape(1, 39, 1)
predictions = model.predict(input_sample)
predictions
threshold = 0.5
binary_prediction = (predictions > threshold).astype(int)
print(binary_prediction)

1/1 [==============================] - 0s 27ms/step
[[1]]

In [66]:
x_scaled.iloc[1300]

0     0.424043
1     0.305698
2     0.690256
3     0.436182
4     0.643063
5     0.509027
6     0.408220
7     0.578044
8     0.228387
9     0.631059
10    0.229115
11    0.380609
12    0.389912
13    0.533972
14    0.431537
15    0.428808
16    0.517256
17    0.418906
18    0.442658
19    0.406062
20    0.347931
21    0.284060
22    0.271659
23    0.269433
24    0.349462
25    0.288085
26    0.496521
27    0.374076
28    0.615535
29    0.466287
30    0.528973
31    0.481007
32    0.434609
33    0.573221
34    0.578548
35    0.552295
36    0.537796
37    0.516028
38    0.479719
Name: 1300, dtype: float64

In [67]:

input_sample=[0.424043, 0.305698, 0.690256, 0.436182, 0.643063, 0.509027, 0.408220, 0.578044, 0.228387, 0.631059, 0.229115, 0.380609, 0.389912, 0.533972, 0.431537, 0.428808, 0.517256, 0.418906, 0.442658, 0.406062, 0.347931, 0.284060, 0.271659, 0.269433, 0.349462, 0.288085, 0.496521, 0.374076, 0.615535, 0.466287, 0.528973, 0.481007, 0.434609, 0.573221, 0.578548, 0.552295, 0.537796, 0.516028, 0.479719]
len(input_sample)
input_sample = np.array(input_sample).reshape(1, 39, 1)
predictions = model.predict(input_sample)
predictions
threshold = 0.5
binary_prediction = (predictions > threshold).astype(int)
print(binary_prediction)

1/1 [==============================] - 0s 24ms/step
[[0]]

In [68]:
x_scaled.iloc[2500]

0     0.782805
1     0.565195
2     0.440775
3     0.157096
4     0.445675
5     0.406131
6     0.779606
7     0.689936
8     0.640176
9     0.716727
10    0.581536
11    0.490753
12    0.638979
13    0.443835
14    0.454264
15    0.622504
16    0.547735
17    0.487173
18    0.633079
19    0.501075
20    0.478202
21    0.524390
22    0.428682
23    0.470188
24    0.721333
25    0.540080
26    0.552329
27    0.328136
28    0.157562
29    0.056421
30    0.254272
31    0.340139
32    0.471551
33    0.291605
34    0.079785
35    0.220664
36    0.378414
37    0.504264
38    0.095717
Name: 2500, dtype: float64

In [71]:

input_sample=[0.782805,0.565195, 0.440775, 0.157096, 0.445675, 0.406131, 0.779606, 0.689936, 0.640176, 0.716727, 0.581536, 0.490753, 0.638979, 0.443835, 0.454264, 0.622504, 0.547735, 0.487173, 0.633079, 0.501075, 0.478202, 0.524390, 0.428682, 0.470188, 0.721333, 0.540080, 0.552329, 0.328136, 0.157562, 0.056421, 0.254272, 0.340139, 0.471551, 0.291605, 0.079785, 0.220664, 0.378414, 0.504264, 0.095717]
len(input_sample)
input_sample = np.array(input_sample).reshape(1, 39, 1)
predictions = model.predict(input_sample)
predictions
threshold = 0.5
binary_prediction = (predictions > threshold).astype(int)
print(binary_prediction)

1/1 [==============================] - 0s 32ms/step
[[1]]

In [73]:
model.save('CNN_Age_Estimation.h5')